<?xml version='1.0' encoding='utf-8'?>

<widget 
    id                      = "BabyNamesMobile"
    ios-CFBundleIdentifier  = "edu.asu.cis430.f24.gcotacan.BabyNamesMobile"
    android-packageName     = "edu.asu.cis430.f24.gcotacan.BabyNamesMobile"
    version                 = "31.3.0" 
    xmlns                   = "https://www.w3.org/ns/widgets">
    

    <name>BabyNames Mobile</name>

    <description>
        Demonstrates SQL, Charting and Responsive Design API's
    </description>

    <author email="gcotacan@asu.edu" href="http://www.asu.edu">
        Gerardo Cota-Canez
    </author>

    <content src="index.html" />  <!-- the starting point of your hybrid app -->

     <!-- =================================================================== -->
    <!-- Orientation: values: landscape, portrait, or default (allow both)   -->
    <!-- =================================================================== -->
    <preference name = "Orientation"           value = "default"        />


    <!-- =================================================================== -->
    <!-- These are for the cordova-plugin-statusbar plugin                   -->
    <!-- https://github.com/apache/cordova-plugin-statusbar                  -->
    <!-- =================================================================== -->
    <plugin     name="cordova-plugin-statusbar"                         />
    <preference name="StatusBarOverlaysWebView" value="false"           />
    <preference name="StatusBarBackgroundColor" value="#FFC627"         />
    <preference name="StatusBarStyle"           value="lightcontent"    />

    <!-- =================================================================== -->
    <!-- These are for the splashscreen when the app starts up               -->
    <!-- =================================================================== -->
    <preference name="SplashScreenDelay"                        value="2000" />
    <preference name="AutoHideSplashScreen"                     value="true" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon"  
                                        value="resources/splashTemplate.png" />
    <preference name="AndroidWindowSplashScreenBackground"   value="#000000" />

    
    <plugin     name="cordova-plugin-cleartext"                         />
    <access     origin="*"                                              />
    <access     origin="http://*.googleapis.com"    subdomains="true"   />
    <access     origin="http://*.gstatic.com"       subdomains="true"   />

    <!-- =================================================================== -->
    <!-- allow-intents: if the user selects the url, allow the               -->
    <!-- system (mobile os) to honor the users intent and open it            -->
    <!-- =================================================================== -->
    <allow-intent href="http://*/*"      />       <!-- open browser          -->
    <allow-intent href="https://*/*"     />       <!-- open browser          -->
    <allow-intent href="tel:*"           />       <!-- dial phone #          -->
    <allow-intent href="sms:*"           />       <!-- send a text           -->
    <allow-intent href="mailto:*"        />       <!-- open mail to          -->
    <allow-intent href="geo:*"           />       <!-- open maps             -->

    <!-- =================================================================== -->
    <!-- Platform specific configurations (e.g. ios, android, Electron )     -->
    <!-- =================================================================== -->
    <platform name="android">  
        <!-- open google playstore if url starts with market:* -->
        <allow-intent href="market:*"       /> 
    </platform>

    <platform name="ios">
        <!-- open App Store on iOS -->
        <allow-intent href="itms:*"         />
        <allow-intent href="itms-apps:*"    />

        <!-- To use the location, camera, or photos, must ask permission -->
        <edit-config    target="NSLocationAlwaysUsageDescription" 
                        file="*-Info.plist" mode="overwrite">
            <string>Allow the app to know your location?</string>
        </edit-config>
        <edit-config    target="NSLocationWhenInUseUsageDescription" 
                        file="*-Info.plist" mode="overwrite">
            <string>Allow the app to know your location?</string>
        </edit-config>
        <edit-config    target="NSCameraUsageDescription" 
                        file="*-Info.plist" mode="overwrite">
            <string>App would like to access Camera to take picture of any 
                    document that you want to upload as attachment to your 
                    message</string>
        </edit-config>
         <edit-config   target="NSPhotoLibraryUsageDescription" 
                        file="*-Info.plist" mode="overwrite">
            <string>Allow the app to open Photo Library to take picture of any 
                    document that you want to upload as attachment to your 
                    message</string>
        </edit-config>
    </platform>      

</widget>
